<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssaccer.model.dao.VideoReviewLikeDao">

    <insert id="addLike" parameterType="HashMap">
        INSERT INTO RLikes (userSeq, reviewSeq)
        VALUES (#{userSeq}, #{reviewSeq})
    </insert>

    <select id="selectLikeByUserSeq" parameterType="int" resultType="VideoReview">
        SELECT *
        FROM Reviews vr
        JOIN RLikes vrl
        ON vr.reviewSeq = vrl.reviewSeq
        WHERE vrl.userSeq = #{userSeq}
    </select>

    <select id="selectLikeByReviewSeq" parameterType="int" resultType="User">
        SELECT *
        FROM Users u
        JOIN RLikes vrl
        ON u.userSeq = vrl.userSeq
        WHERE vrl.reviewSeq = #{reviewSeq}
    </select>

    <delete id="cancelLike" parameterType="HashMap">
        DELETE FROM RLikes
        WHERE userSeq = #{userSeq} AND reviewSeq = #{reviewSeq}
    </delete>

</mapper>