<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssaccer.model.dao.VideoReviewDao">

    <insert id="insertReview" parameterType="VideoReview">
        INSERT INTO reviews (userSeq, videoSeq, title, content, writer, createdDate)
        VALUES (#{userSeq}, #{videoSeq}, #{title}, #{content}, #{writer}, now());
    </insert>

    <select id="selectReview" parameterType="int" resultType="VideoReview">
        SELECT reviewSeq, userSeq, videoSeq, title, content, writer, viewCnt, DATE_FORMAT(createdDate, "%Y:%m:%d %H:%i:%s") AS createdDate
        FROM reviews
        WHERE reviewSeq = #{reviewSeq}
    </select>
 
    <select id="selectReviewList" resultType="VideoReview">
        SELECT reviewSeq, userSeq, videoSeq, title, content, writer, viewCnt, DATE_FORMAT(createdDate, "%Y:%m:%d %H:%i:%s") AS createdDate
        FROM reviews
    </select>

    <select id="selectReviewListByVideoSeq" parameterType="int" resultType="VideoReview">
        SELECT reviewSeq, userSeq, videoSeq, title, content, writer, viewCnt, DATE_FORMAT(createdDate, "%Y:%m:%d %H:%i:%s") AS createdDate
        FROM reviews
        WHERE videoSeq = #{videoSeq}
    </select>

    <select id="selectReviewListByUserSeq" parameterType="int" resultType="VideoReview">
        SELECT reviewSeq, userSeq, videoSeq, title, content, writer, viewCnt, DATE_FORMAT(createdDate, "%Y:%m:%d %H:%i:%s") AS createdDate
        FROM reviews
        WHERE userSeq = #{userSeq}
    </select>

    <update id="modifyReview" parameterType="VideoReview">
        UPDATE reviews
        SET title = #{title}, content = #{content}
        WHERE reviewSeq = #{reviewSeq}
    </update>

    <delete id="removeReview" parameterType="int">
        DELETE FROM reviews
        WHERE reviewSeq = #{reviewSeq}
    </delete>

    <update id="addViewCnt" parameterType="int">
        UPDATE reviews
        SET viewCnt = viewCnt + 1
        WHERE reviewSeq = #{reviewSeq}
    </update>

</mapper>