<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssaccer.model.dao.VideoLikeDao">

    <insert id="addVideoLike" parameterType="HashMap">
        INSERT INTO VideoLikes
        VALUES (#{videoSeq}, #{userSeq})
    </insert>

    <select id="selectVideoLikeByVideoSeq" parameterType="Integer" resultType="Video">
        SELECT v.*
        FROM VideoLikes vl
        JOIN Videos v
        ON vl.videoSeq = v.videoSeq
        WHERE vl.userSeq = #{userSeq}
    </select>

    <select id="selectVideoLikeByUserSeq" parameterType="Integer" resultType="User">
        SELECT u.*
        FROM VideoLikes vl
        JOIN Users u
        ON vl.userSeq = u.userSeq
        WHERE vl.videoSeq = #{videoSeq}
    </select>

    <delete id="cancelVideoLike" parameterType="HashMap">
        DELETE FROM VideoLikes
        WHERE videoSeq = #{videoSeq} AND userSeq = #{userSeq}
    </delete>

</mapper>